<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <!-- EJS interpolation syntax -->
    <div class='container'>
    <h1><%='The Home Page'.toUpperCase()%> <%= 4+5+1 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil eum ipsa quibusdam veritatis perspiciatis quidem, rerum nemo eos sapiente.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe ratione aliquid nobis laborum culpa eaque nihil molestiae vitae libero impedit!</p>
    </div>
</body>
</html>